<footer id="site-footer">
	<div id="site-footer__about">
		<%= link_to use_svg("fact-check-insights-logo", title: "Fact-Check Insights", svg_attrs: { id: "site-footer__logo", width: 200, height: 59, role: "img" }), root_path %>
		<div id="site-footer__legal">
			<p><%= t("layouts.footer.is_a_project_of",
									media_review_link: link_to("MediaVault", root_path),
									full_fact_link: link_to("Full Fact", "https://fullfact.org/"),
									maldita_link: link_to("Maldita.es", "https://fundacionmaldita.es/en")).html_safe %></p>
			<p><%= t("layouts.footer.copyright",
									current_year: l(Date.today, format: "%Y"),
					 				creative_commons_link: link_to("CC BY", "https://creativecommons.org/licenses/by/4.0/")).html_safe %></p>
		</div>
	</div>

	<nav id="site-footer__nav--primary" class="site-footer__nav">
		<ol>
			<li><%= link_to "Download the Data", fact_check_insights_download_path %></li>
			<li><%= link_to "Guide to the Data", fact_check_insights_guide_path %></li>
			<li><%= link_to "Highlights", fact_check_insights_highlights_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ol>
	</nav>

	<nav id="site-footer__nav--secondary" class="site-footer__nav">
		<ol>
			<li><%= link_to "Terms and Conditions", terms_path %></li>
			<li><%= link_to "Privacy Policy", privacy_path %></li>
			<li><%= link_to "Opt Out", fact_check_insights_optout_path %></li>
			<%# <li><%= link_to "GitHub", "https://github.com/TechAndCheck/zenodotus/" %></li>
			<li><%= link_to "MediaVault", media_vault_root_url %></li>
		</ol>
	</nav>

	<nav id="site-footer__nav--logos" class="site-footer__nav">
		<ol>
			<li>
				<%= link_to "https://fullfact.org/" do %>
					<%= image_tag "logos/full-fact-logo.png", size: "96x60", alt: "Full Fact", id: "site-footer__full-fact-logo" %>
				<% end %>
			</li>
			<li>
				<%= link_to "https://maldita.es" do %>
					<%= image_tag "logos/maldita-logo.png", size: "167x60", alt: "Maldita.es", id: "site-footer__maldita-logo" %>
				<% end %>
			</li>
		</ol>
	</nav>
</footer>
