<% @title_tag = "About Us" %>

<div class="mx-auto text-center max-w-xs py-10 lg:py-20">
	<h1><%= t("about.what_is_mediavault") %></h1>
</div>

<div class="b2 mx-auto max-w-2xl">
	<p><%= t("about.mediavault_introduction") %></p>
	<p><%= t("about.new_phase_mediavault_expands") %></p>
	<p><%= t("about.content_property_of_users") %></p>
	<p><%= t("about.commitment_to_innovation") %></p>
	<p><i><%= t("about.original_developed_by_duke_reporters_lab") %></i></p>
</div>

