<% @title_tag = "About Us" %>

<div class="mx-auto text-center max-w-xs py-10 lg:py-20">
	<h1><%= t("about.who_are_we") %></h1>
</div>

<div class="b2 mx-auto max-w-2xl">
	<p><%= t("about.mediavault_introduction") %></p>
	<p><%= t("about.new_phase_mediavault_expands") %></p>
	<p><%= t("about.content_property_of_users") %></p>
	<p><%= t("about.commitment_to_innovation") %></p>
	<p><i><%= t("about.original_developed_by_duke_reporters_lab") %></i></p>
</div>

<div class="mx-auto max-w-5xl py-10 lg:py-20">
	<div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
		<div>
			<div class="text-center mb-6">
				<h2 class="text-2xl font-bold">Duke Reporters' Lab</h2>
			</div>
			<ul class="b2 list-disc pl-10">
				<li><b>Bill Adair,</b> <%= t("about.director") %></li>
				<li><b>Christopher Guess,</b> <%= t("about.lead_technologist") %></li>
				<li><b>Erica Ryan,</b> <%= t("about.project_manager") %></li>
				<li><b>Joel Luther,</b> <%= t("about.outreach") %></li>
			</ul>
		</div>

		<div>
			<div class="text-center mb-6">
				<h2 class="text-2xl font-bold"><%= t("about.additional_contributors") %></h2>
			</div>
			<ul class="b2 list-disc pl-10">
				<li><b>Valentina Garbelotto,</b> <%= t("about.spanish_translator") %></li>
				<li><b>Justin Reese,</b> <%= t("about.developer") %></li>
				<li><b>Asa Royal,</b> <%= t("about.developer") %></li>
				<li><b>Joanna Fonte,</b> <%= t("about.designer") %></li>
			</ul>
		</div>
	</div>
</div>
