<% @title_tag = "About Us" %>

<div class="mx-auto text-center max-w-xs py-10 lg:py-20">
	<h1><%= t("about.who_are_we") %></h1>
</div>

<div class="b2 mx-auto max-w-2xl">
	<p><%= t("about.mediavault_introduction") %></p>
	<p><%= t("about.new_phase_mediavault_expands") %></p>
	<p><%= t("about.content_property_of_users") %></p>
	<p><%= t("about.commitment_to_innovation") %></p>
	<p><i><%= t("about.original_developed_by_duke_reporters_lab") %></i></p>
</div>

<div class="mx-auto max-w-5xl py-10 lg:py-20">
	<div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
		<div>
			<div class="text-center mb-6">
				<h2 class="text-2xl font-bold">Duke Reporters' Lab</h2>
			</div>
			<div class="b2">
				<p><b>• Bill Adair,</b> <%= t("about.bill_adair_is_the_knight_professor") %></p>
				<p><b>• Christopher Guess,</b> <%= t("about.christopher_guess_is_the_lead_technologist_for_the_reporters_lab") %></p>
				<p><b>• Erica Ryan,</b> <%= t("about.erica_ryan_is_the_project_manager_for_the_reporters_lab") %></p>
				<p><b>• Joel Luther,</b> <%= t("about.joel_luther_is_the_claimreview") %></p>
			</div>
		</div>

		<div>
			<div class="text-center mb-6">
				<h2 class="text-2xl font-bold"><%= t("about.additional_contributors") %></h2>
			</div>
			<div class="b2">
				<p><b>• Valentina Garbelotto,</b> <%= t("about.spanish_translator") %></p>
				<p><b>• Justin Reese,</b> <%= t("about.developer") %></p>
				<p><b>• Asa Royal,</b> <%= t("about.developer") %></p>
				<p><b>• Joanna Fonte,</b> <%= t("about.designer") %></p>
			</div>
		</div>
	</div>
</div>
